*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: aliceblue;
    --border:2px solid white;
    --bg-image: ur(    <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="437"><path fill="#D6E1FF" fill-rule="evenodd" d="M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z"/></svg>
    )
}
html{
    background-color:var(--bg-color) ;
    background-image: var(--bg-image);
}
body{
    min-height: 100vh;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    width: 400px;
     height: 550px;
    border-radius: 30px;
    background-color: white;
    
}
.img{
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    position: relative;
  
}
.img{
    top: -1%;
}
.summary{
      width:75%;
      margin: 0 auto;
      margin-top: 2rem;
      display: flex;
     flex-direction: column;
     align-items: center;
   
}
.summary h1{
    text-align: center;
}
.summary p{
    text-align: center;
    opacity: 0.5;
   
}
.annual{
    width: 100%;
    height: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    background-color: var(--bg-color);
    border-radius: 10px;
}
.op{
    opacity: 0.5;
}
.annual p{
    margin-right: 70px;
    width: 30%;
    opacity: 1;
}
footer
{  
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pay{
    padding: 1rem;
    min-width: 300px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: blue;
    color: whitesmoke;
}
.cancel{
    margin-top: 1.5rem;
    color: blue;
}
 a{
    margin-right: 5px;
    color: hsl(228, 45%, 44%);
 }
i{
    opacity: 0.5;
    margin-left: 30px;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 50px;
    background-color: rgb(138, 138, 175);
}
@media screen and (max-width: 500px){
header{
    width: 450px;
    height: 650px;
}
.pay{
    padding: 1rem;
    min-width: 200px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: blue;
    color: whitesmoke;
}
.img{
    display: block;
    width: 100%;
    height: 400px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    position: relative;
    
}

.summary{
    width:100%;
    height:50%;
    margin:  0 auto;
    font-size: 16px;
    line-height: 2rem;
    display: flex;
   flex-direction: column;
   align-items: center;
    font-size: 15px;
    
}
.summary h1{
  text-align: center;
}
.summary p{
    width:52%;
  
    margin-top: 0.5rem;
    font-size: 16px;
    text-wrap: wrap;
  text-align: center;
  opacity: 0.5;
 
}
.annual{
    width: 90%;
    height: 80px;
    margin-top: 1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    background-color: var(--bg-color);
    border-radius: 10px;
}
.op{
    opacity: 0.5;
}S
.annual p{
    font-size: 15px;
    margin-right: 70px;
    width: 30%;
    opacity: 1;
}
a{
    margin-right: 5px;
    color: hsl(228, 45%, 44%);
 } 
 footer
 {  
 
  
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .pay{
     padding: 1rem;
     min-width: 300px;
     border: 2px solid black;
     border-radius: 12px;
     background-color: blue;
     color: whitesmoke;
     text-align: center;
 }
 .cancel{
     margin-top: 1.5rem;
     color: blue;
 }}